/* Clearing */
body, * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #F6F09F;
}

/* Main */
.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

/* Content */
.content {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    height: auto;
    aspect-ratio: 2/1;
    background-color: white;
    border-radius: 8px;
}

.content > * {
    margin: 1em;
}

/* Head Content */
.head_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.head_content > img {
    width: 40%;
    height: auto;
}

.head_content > .text {
    margin-top: .5em;
}

/* Main Content */
.main_content {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.main_content > a {
    margin-top: .5em;
    text-decoration: none;
}

.main_content > a > button {
    padding: .5em;
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 5em;
    background-color: transparent;
    border-radius: 8px;
    border: none;
    transition: all .2s;
}

.main_content > a > button:hover {
    box-shadow: .0em .2em .2em 0em rgba(0, 0, 0, 0.5);
}

/* Button Styling */
.instagram_button:hover {
    background-color: rgba(225, 48, 107, .5);
    color: white;
}

.whatsapp_button:hover {
    background-color: rgb(37, 211, 102, .5);
    color: white;
}

.tiktok_button:hover {
    background-color: #454545;
    color: white;
}

/* Flex */
@media screen and (min-width: 768px) {
    .content {
        width: 25%;
    }   
}